<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes cadastrados</title>

    <link rel="stylesheet" href="/bootstrap/bootstrap/dist/css/bootstrap.min.css">

    <script src="/bootstrap/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="module" src="/components/navbar-admin/navbar.js"></script>
    <script type="module" src="/components/pages/navigation/JS/clientesCadastrados.js"></script>
</head>

<body>

    <div class="container-fluid">
        <div id="navbar-container"></div>

        <div class="row">

            <div class="col-md-6 offset-md-3 align-self-center">

                <div id="navbar-container"></div>

                <form class="text-center">

                    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body">
                            <fieldset>

                                <div class="card-header mb-2">Meu cadastro</div>

                                <div class="mb-2">
                                    <label>Nome</label><input type="text" id="nomeProp" readonly class="form-control">
                                </div>


                                <div class="mb-2">
                                    <label>Telefone</label> <input type="tel" id="telefone" class="form-control"
                                        readonly>
                                </div>


                                <div class="mb-2">
                                    <label>Endereço</label> <input type="text" class="form-control"
                                        id="endereco" readonly>
                                </div>

                                <div class="mb-2">
                                    <label>Email</label> <input type="text" class="form-control"
                                        id="email" readonly>
                                </div>

                                <div class="mb-2">
                                    <label>ID do usuário</label> <input type="text" class="form-control"
                                        id="idUser" readonly>
                                </div>

                                <button type="button" class="btn btn-danger" id="buttonExcluir">Excluir Cliente</button>

                            </fieldset>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>


</body>

</html>